dist: xenial
language: python
python:
  - "3.7"
install:
  - pip install -r requirements.txt
  - pip install pytest-cov
  - pip install coveralls
script:
  - pytest --cov-config .coveragerc --cov=boo
after_success:
  - coveralls